@page "/learnBlazor/lifeCycle"
@using TangyWeb_Server.Pages.LearnBlazor.SharedComponents
<div class="border">
    <_LifeCycleChild CountValue=@currentCount>

    </_LifeCycleChild>
</div>
<h3>Life Cycle Parent</h3>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<hr />
@foreach(var item in EventCycle)
{
    @item
    <hr />
}

@code {
    List<string> EventCycle = new List<string>();
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override void OnInitialized()
    {
        EventCycle.Add("OnInitialized is called");
    }
    protected override async Task OnInitializedAsync()
    {
        EventCycle.Add("OnInitializedAsync is called");
    }
    protected override void OnParametersSet()
    {
        EventCycle.Add("OnParameterSet is called");
    }
    protected override async Task OnParametersSetAsync()
    {
        EventCycle.Add("OnParameterSetAsync is called");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        EventCycle.Add("OnAfterRender is called");
    }
    protected override bool ShouldRender()
    {
        EventCycle.Add("ShouldRender is called");
        return true;
    }
}
