@page "/category"
@using Tangy_Business.Repository.IRepository
@using Tangy_Models
@inject ICategoryRepo icategoryRepo
@using TangyWeb_Server.Shared
@inject IJSRuntime _jsRuntime


<_DeleteConfirmation OnButtonClick="ConfirmDeleteClick" IsLoadingParameter="IsLoading"></_DeleteConfirmation>
<h3>Category List</h3>
<div class="row">
    <div class="col-4 offset-8">
        <a href="category/create" class="btn btn-primary">Add New Category</a>
    </div>
</div>
<div class="row m-3">
    <div class="col">
        @if (Category.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Category)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>@item.Name</td>
                            <td>
                                <NavLink class="btn btn-primary" href="@($"category/edit/{item.Id}")">Edit</NavLink>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(item.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <div class="text-center">
                    <img src="/Images/loading.gif" alt="loading">
                </div>
            }
            else
            {
                <p>No Records Found!</p>
            }
        }

    </div>

</div>



@code {

    private IEnumerable<CategoryDTO> Category { get; set; } = new List<CategoryDTO>();
    public bool IsLoading { get; set; } = true;
    private int DeleteCategoryId { get; set; } = 0;
    //protected override async Task OnInitializedAsync()
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           LoadCategories();    
        }

        //await Task.Run(LoadCategories);
    }
    private void LoadCategories()
    {
        Category = icategoryRepo.GetAll();
        IsLoading = false;
        StateHasChanged();
    }
    private void HandleDelete(int id)
    {
        DeleteCategoryId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }
    //protected _DeleteConfirmation deleteConfirm { get; set; }
    public void ConfirmDeleteClick(bool _deleteConfirm)
    {
        if (_deleteConfirm && DeleteCategoryId!=0)
        {
            IsLoading = true;
             Task.Delay(2000);
            icategoryRepo.Delete(DeleteCategoryId);
            LoadCategories();
            _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
            IsLoading = false;
        }
    }
}
